$text-black: #222222;
$bg-black: #000000;
$dark-blue: #663399;
$blue-whites-shade: #9F62C9;
$bg-grey: #F9F9F9;
$bg-light-grey: #FCFCFF;
$grey: #00000033;
$light-grey: #2321321F;
$text-grey: #999999;
$white: #FFFFFF;
$grey-strip: #707070